.landingIcon {
    cursor: pointer;
    transition: all 0.3s ease;
}

.landingIcon:hover {
    transform: scale(1.2);
}

.getintouch {
    cursor: pointer;
    transition: all 0.3s ease;
    width:200px;
    height:50px;
    background:none; 
    border:3px solid white;
    color:white;
    font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
}

.getintouch:hover {
    color:#396afc;
    background:white;
}